@model MaintenanceApp.Models.RequestMaintenanceModel
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<form asp-action="Details" asp-controller="MaintenanceRequest">
    <input type="hidden" asp-for="Id" />

    <div class="container">
        <h4 class="text-center mb-4">Viewing REQUEST FOR MAINTENANCE ACTION</h4>
        <div class="row">
            <div class="col-md-6">
                <label class="form-label">Request No</label>
                <input class="form-control" asp-for="@Model.Id" type="text" disabled />
                <label>(To be filled by the initiator)</label>
            </div>
            <div class="col-md-6">
                <label class="form-label" asp-for="@Model.RequestDate">Date</label>
                <input class="form-control" type="date" asp-for="@Model.RequestDate" disabled />
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <label class="form-label">Request status</label>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" asp-for="@Model.RequestStatus" value="Normal" id="Normal" disabled />
                    <label class="form-check-label" for="Normal">Normal</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" asp-for="@Model.RequestStatus" value="Urgent" id="Urgent" disabled />
                    <label class="form-check-label" for="Urgent">Urgent</label>
                </div>
            </div>

            <div class="col-md-6">
                <label class="form-label">Request for</label>

                @for (int i = 0; i < Model.phraseModel.Count; i++)
                {
                   if(Model.phraseModel[i].Category=="Request For"){
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="RequestFor" value="@Model.phraseModel[i].Phrase" id="RequestFor_@i" disabled
                            @(Model.phraseModel[i].IsChecked ? "checked" : "") />
                            <label class="form-check-label" for="RequestFor_@i">@Model.phraseModel[i].Phrase</label>
                        </div>
                   }
                    
                }
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <label class="form-label">Machine Status</label>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" asp-for="@Model.MachineState" value="Running" id="MachineRunning" disabled />
                    <label class="form-check-label" for="MachineRunning">Running</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" asp-for="@Model.MachineState" value="Idle" id="MachineIdle" disabled />
                    <label class="form-check-label" for="MachineIdle">Idle</label>
                </div>
            </div>

            <div class="col-md-6">
                <label class="form-label">Department/Section</label>
                <input class="form-control" type="text" asp-for="Department" disabled />
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <label class="form-label" for="RequestedBy">Requested By</label>
                <input class="form-control" type="text" asp-for="RequestedBy" disabled />
            </div>
            <div class="col-md-4">
                <label class="form-label" for="ReceivedBy">Received By</label>
                <input class="form-control" type="text" asp-for="ReceivedBy" disabled />
                <label class="form-label" for="ReceivedTime">Received Time</label>
                <input class="form-control" type="time" asp-for="ReceivedTime" disabled />
            </div>
            <div class="col-md-4">
                <label class="form-label" for="Machine">Machine</label>
                <input class="form-control" type="text" asp-for="Machine" disabled />
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="mb-3">
                    <label for="Description" class="form-label">Description of Problem (To be filled by Initiator)</label>
                    <textarea class="form-control" asp-for="Description" rows="3" disabled></textarea>
                </div>

                <!-- Proposed Action -->
                <div class="mb-3">
                    <label for="Proposal" class="form-label">Your Proposed Action (If required, To be filled by Initiator)</label>
                    <textarea class="form-control" asp-for="Proposal" rows="3" disabled></textarea>
                </div>

                <!-- Review of Problem -->
                <div class="mb-3">
                    <p class="form-label">Review of Problem (To be filled by the Maintenance Section)</p>
                    <div>
                        @for (int i = 0; i < Model.phraseModel.Count; i++)
                {
                   if(Model.phraseModel[i].Category == "Review of Problems"){
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" name="ReviewOfProblem" value="@Model.phraseModel[i].Phrase" id="ReviewOfProblem_@i" disabled
                                    @(Model.phraseModel[i].IsChecked ? "checked" : "") />
                                    <label class="form-check-label" for="ReviewOfProblem_@i">@Model.phraseModel[i].Phrase</label>
                                </div>
                   }
                    
                }

                    </div>
                </div>
                <div class="mb-3">
                    <label for="ReviewRemarks" class="form-label">Remarks</label>
                    <textarea class="form-control" asp-for="ReviewRemarks" rows="2" disabled></textarea>
                </div>
                <div class="mb-3">
                    <label for="DescriptionAction" class="form-label">Description of Action (To be filled by the Maintenance Section)</label>
                    <textarea class="form-control" asp-for="DescriptionAction" rows="3" disabled></textarea>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <label class="form-label">Status of Machine</label>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" asp-for="@Model.MachineState2" value="Idle" id="Idle" disabled />
                    <label class="form-check-label" for="Idle">Idle</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" asp-for="@Model.MachineState2" value="Running" id="Running" disabled />
                    <label class="form-check-label" for="Running">Running</label>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-time form-time-inline">
                    <input class="form-control" type="time" asp-for="MachineRunning" disabled />
                    <label class="form-label" for="MachineRunning">If running write time</label>
                </div>
            </div>

            <div class="col-md-6">
                <label class="form-label">Status of Request</label>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" asp-for="@Model.StatufOfRequest" value="Open" id="StatufOfRequestOpen" disabled />
                    <label class="form-check-label" for="StatufOfRequestOpen">Open</label>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" asp-for="@Model.StatufOfRequest" value="Closed" id="StatufOfRequestClosed" disabled />
                        <label class="form-check-label" for="StatufOfRequestClosed">Closed</label>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-text form-text-inline">
                    <label class="form-label" for="RequestOpen">If Open, request will be closed by</label>
                    <input class="form-control" type="text" asp-for="RequestOpen" disabled />
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-text form-text-inline">
                    <label class="form-label" for="ActionAcknowledgedBy">Acknowledged by</label>
                    <input class="form-control" type="text" asp-for="ActionAcknowledgedBy" disabled />
                </div>
            </div>
        </div>
    </div>
</form>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

